%li{:class => self_or_other(message)}
  .avatar
    %img{:src => asset_path("icon-chat.png") }
  .chatboxmessagecontent
    %p= message.body
    %time{:datetime => message.created_at, :title => message.created_at.strftime("%d %b  %Y at %I:%M%p")}
      = message_interlocutor(message).username
      • #{message.created_at.strftime("%H:%M %p")}