- if posts.present?
  .col-xs-12
    .box-item
      %i.box-icon-2
      %h2.box-title.bg-color-1
        %span.border-color-1
          - content = show_content_post(cat)
          %a{href: content[:url]}= content[:message]
      .box-content
        - posts.each do |post|
          .cat-item
            .cat-thumb
              = image_tag("dinh_duong.jpg", :title => "Dinh dưỡng khi trẻ bị ốm ho, cảm sốt, tiêu chảy", alt: "Dinh duong cho tre bi ho bi om, mon an nhieu dinh duong")
            %a{href: news_path(post.slug)}
              %h2.cpost-title= post.title
            .cpost-des
              %p= post.preview
