.col-xs-12.col-md-4
  .box-item
    %i.box-icon-2
    %h2.box-title.bg-color-1
      %span.border-color-1
        %a{:href => "http://c0tuoitho.pgdgianghia.edu.vn/category/goc-phu-huynh"} Góc phụ huynh
    .box-content
      .cpost
        %a{:href => "http://c0tuoitho.pgdgianghia.edu.vn/dinh-duong-khi-tre-bi-om-ho-cam-sot-tieu-chay.html"}
          %img{:alt => "Dinh dưỡng khi trẻ bị ốm ho, cảm sốt, tiêu chảy", :src => "http://c0tuoitho.pgdgianghia.edu.vn/wp-content/themes/vtkmamnon/thumbnail.php?src=http%3A%2F%2Fc0tuoitho.pgdgianghia.edu.vn%2Fwp-content%2Fuploads%2F2015%2F03%2Fchaodinhduong.jpg&w=120&h=85&zc=1&a=c", :title => "Dinh dưỡng khi trẻ bị ốm ho, cảm sốt, tiêu chảy"}/
        %a{:href => "http://c0tuoitho.pgdgianghia.edu.vn/dinh-duong-khi-tre-bi-om-ho-cam-sot-tieu-chay.html"}
          %h2.cpost-title Dinh dưỡng khi trẻ bị ốm ho, cảm sốt, tiêu chảy
        %p.cpost-date 19/03/2015
        .cpost-des
          %p Khi ốm, các bé thường chán ăn, ăn rất ít hoặc bỏ bữa nên ngoài điều trị theo hướng dẫn của thầy thuốc, bố mẹ còn cần phải chú ý chăm sóc và cho...
      .line-block
      %ul.cpost-more
        %li
          %i.ico-cpost-more
          %a{:href => "http://c0tuoitho.pgdgianghia.edu.vn/goi-y-che-bien-mot-so-mon-chao-voi-ca-rot-cho-be.html"} Gợi ý chế biến một số món cháo với cà rốt cho bé
        %li
          %i.ico-cpost-more
          %a{:href => "http://c0tuoitho.pgdgianghia.edu.vn/nhung-mon-me-khong-duoc-nau-cung-nhau.html"} Những món mẹ không-được-nấu cùng nhau
        %li
          %i.ico-cpost-more
          %a{:href => "http://c0tuoitho.pgdgianghia.edu.vn/day-con-biet-chia-se-va-yeu-thuong.html"} Dạy con biết chia sẻ và yêu thương
      %p.view-more.pull-right
        %a{:href => "http://c0tuoitho.pgdgianghia.edu.vn/category/goc-phu-huynh"}
          Xem thêm
          %i.icon-fontawesome-webfont-127
