.col-xs-12.col-md-4
  .box-item
    %i.box-icon-1
    %h2.box-title.bg-color-1
      %span.border-color-1
        %a{:href => "http://c0tuoitho.pgdgianghia.edu.vn/category/tin-tuc-su-kien"} Tin tức - Sự kiện
    .box-content
      .cpost
        %a{:href => "http://c0tuoitho.pgdgianghia.edu.vn/truong-mam-non-tuoi-tho.html"}
          %img{:alt => "trường mầm non tuổi thơ", :src => "http://c0tuoitho.pgdgianghia.edu.vn/wp-content/themes/vtkmamnon/thumbnail.php?src=http%3A%2F%2Fc0tuoitho.pgdgianghia.edu.vn%2Fwp-content%2Fuploads%2F2015%2F03%2Fimgs8f7sf.jpg&w=120&h=85&zc=1&a=c", :title => "trường mầm non tuổi thơ"}/
        %a{:href => "http://c0tuoitho.pgdgianghia.edu.vn/truong-mam-non-tuoi-tho.html"}
          %h2.cpost-title trường mầm non tu thuc tho ngoc
        %p.cpost-date 21/05/2015
        .cpost-des
          %p Bài Thơ : trường mầm non Tuổi Thơ 71@ gmail.com
      .line-block
      %ul.cpost-more
        %li
          %i.ico-cpost-more
          %a{:href => "http://c0tuoitho.pgdgianghia.edu.vn/hoi-thi-be-tai-nang-khoe-ngoan.html"} HỘI THI “ BÉ TÀI NĂNG, KHỎE, NGOAN”
        %li
          %i.ico-cpost-more
          %a{:href => "http://c0tuoitho.pgdgianghia.edu.vn/chuong-trinh-giao-luu-van-nghe-hoc-sinh-giao-vien-trong-nam-hoc-moi.html"} Chương trình giao lưu văn nghệ Học sinh – Giáo viên trong năm học mới
        %li
          %i.ico-cpost-more
          %a{:href => "http://c0tuoitho.pgdgianghia.edu.vn/hoc-sinh-tham-gia-cuoc-thi-ve-tranh-huong-ve-bien-dong.html"} Học sinh tham gia cuộc thi vẽ tranh hướng về biển Đông
      %p.view-more.pull-right
        %a{:href => "http://c0tuoitho.pgdgianghia.edu.vn/category/tin-tuc-su-kien"}
          Xem thêm
          %i.icon-fontawesome-webfont-127
