%article.page.type-page.status-publish.hentry.gioi_thieu
  .box.box-default.box-green.box-icon-7.m-top-small.m-bottom-small
    %i.box-icon-7-left
    %i.box-icon-7-right
    %h1.box-title
      %span= t(".thong_bao")
    .box-content
      .entry-content
        .greeting= t(".greeting")
        .introduce-content= raw(t(".content"))
        .thank-you= t(".thank_you")