.logo-footer h1 {
  margin:0;
  border:0;
}
.logo-footer h1 a {
  word-break:break-all;
  text-decoration:none;
  font-size:32px;
  line-height:40px;
  color:#ffffff;
  padding:0;
  border:0;
}
.logo-footer h1 a:hover {
  text-decoration:none;
  color:#ffffff;
}
/* ======    footer-center   ======  */
.footer-center {
  padding: 70px 0 30px;
  background:#072d40;
}
.footer-center .footer-block .title_block {
  color: #999999;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 30px;
  text-transform: uppercase;

}
.footer-center .footer-block .block_content .list-group {
  margin-bottom: 20px;
  padding-left: 0;
}
.footer-center .footer-block .block_content .list-group li {
  color:#696969;
  font-size: 13px;
  line-height: 35px;
  overflow: hidden;
}
.footer-center .footer-block .block_content .toggle-footer li a {
  color: #696969;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  display: block;
  font-size: 13px;
}
.footer-center .footer-block .block_content .toggle-footer li a i {
  margin-right: 5px;
}
.footer-center .footer-block .block_content .toggle-footer li a:hover {
  color: #039944;
}
.footer-center .footer-block .block_content .contact-footer li{
  margin-bottom: 10px;
  padding-left: 45px;
  position: relative;
}
.footer-center .footer-block .block_content .contact-footer li i{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
}
.footer-center .footer-block .block_content .contact-footer li i:before{
  border: 2px solid #696969;
color:#696969;
display: inline-block;
font-size: 14px;
height: 35px;
line-height: 31px;
text-align: center;
width: 35px;
border-radius: 100%;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
-ms-border-radius: 100%;
-o-border-radius: 100%;

}
.footer-center .footer-block .block_content .contact-footer li p{
  line-height: 20px;
  margin: 0;
  display: inline-block;
}
.image-fage-acebook {
  width: 33px;
  margin-right: 10px;
}
.bd_website{
  margin-top: 16px;
  .icon-ebook{
    width: 33px;
    display: inline-block;
    height: 33px;
    color: white;
    font-size: 25px;
    margin-right: 7px;
    margin-left: 3px;
  }
}







