.gioi_thieu{
  .greeting{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .thank-you{
    float: right;
    margin-top: 20px;
    font-weight: bold;
  }
}