#post_title{
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.cat-item {
  padding: 18px 0px;
  overflow: auto;
  font-size: 14px;
  color: #555;
  border-bottom: 1px dashed #ccc;
}
.cat-thumb {
  float: left;
  margin: 0 15px 8px 0;
}