#footer
  .clearFix.padT10
    %p{:style => "text-align: center;"}
      %span{:style => "color:#008000;"}
        %strong &quot;CON NGƯỜI TỐT - C&Ocirc;NG VIỆC TỐT&quot;
      %strong - Sử dụng dịch vụ ở zupViec.com l&agrave; Kh&aacute;ch h&agrave;ng đồng &yacute; với c&aacute;c Thỏa thuận v&agrave; Ch&iacute;nh s&aacute;ch của C&ocirc;ng ty VHE
    %p{:style => "text-align: center;"}
      Trụ sở
      = succeed "&amp;nbsp;-" do
        %strong C&ocirc;ng Ty CP Đ&agrave;o Tạo v&agrave; Nh&acirc;n Sự Việt Nam
      T&ograve;a Nh&agrave; 93A Ho&agrave;ng Mai - Quận Ho&agrave;ng Mai - H&agrave; Nội // Văn ph&ograve;ng H&agrave; Nội: P203 T&ograve;a nh&agrave; 24 T2 Ho&agrave;ng Đạo Th&uacute;y - Văn ph&ograve;ng H&agrave; Nội 2: P1903, T&ograve;a CT1A, Khu Đ&ocirc; Thị Xa La, H&agrave; Nội -&nbsp;Chi Nh&aacute;nh HCM: 117 L&yacute; Ch&iacute;nh Thắng, Phường 7, Quận 3, TP.HCM. Điện thoại dịch vụ: +84-04-666-16-333// 04-66-847-747 - Hotline dịch vụ gi&uacute;p việc nh&agrave; theo giờ - dịch vụ vệ sinh văn ph&ograve;ng v&agrave; gia đ&igrave;nh H&agrave; Nội:
      = succeed "TP." do
        %strong 09.69963553/
      HCM:
      %strong> 0938061114
      \&nbsp;- Email: zupviec.com@gmail.com - DỊCH VỤ GI&Uacute;P VIỆC NH&Agrave; - DỊCH VỤ GI&Uacute;P VIỆC THEO GIỜ - DỊCH VỤ VỆ SINH TẠP VỤ VĂN PH&Ograve;NG - DỊCH VỤ VỆ SINH VĂN PH&Ograve;NG THEO GIỜ C&Ocirc;NG TY TẠI H&Agrave; NỘI V&Agrave; TH&Agrave;NH PHỐ HỒ CH&Iacute; MINH
    %p{:style => "text-align: center;"}
      C&ocirc;ng ty dịch vụ vệ sinh VHE H&agrave; Nội v&agrave; TP.HCM giữ bản quyền - Cấm sao ch&eacute;p nội dung - VHE@ 2014 -
      %strong
        %a{:href => "index.html", :target => "_blank", :title => "DỊCH VỤ GIÚP VIỆC THEO GIỜ", :type => "DỊCH VỤ GIÚP VIỆC THEO GIỜ"} DỊCH VỤ GI&Uacute;P VIỆC THEO GIỜ