%ul#menuBar
  %li.active
    %a.upcase.fontsize11{:href => "index.html", :title => "Dịch vụ giúp việc gia đình và văn phòng"}
      %span.trangchu Trang chủ
  %li
    %a.upcase.fontsize11{:href => "cong-ty.html", :title => "Giới thiệu"}
      %span Giới thiệu
  %li
    %a.upcase.fontsize11{:href => "bang-gia.html", :title => "Bảng giá"}
      %span Bảng giá
  %li
    %a.upcase.fontsize11{:href => "du-an.html", :title => "Dự án"}
      %span Dự án
  %li
    %a.upcase.fontsize11{:href => "tin-tuc.html", :title => "Tin tức"}
      %span Tin tức
  %li
    %a.upcase.fontsize11{:href => "tuyen-dung.html", :title => "Tuyển dụng"}
      %span Tuyển dụng
  %li
    %a.upcase.fontsize11{:href => "lien-he.html", :title => "Liên hệ"}
      %span Liên hệ